# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.user

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt
*.apk
*.aab
*.unitypackage
